@import '../../style.scss';

.posts{
    @include useTheme($themes){
        display: flex;
        flex-direction: column;
        gap: 20px;
        .prompt{
            margin-top: 100px;
            align-self: center;
            color: themed('textSoft');
        }

        @include mobile{
            margin: 20px 10px;
        }
    }
}