@import "../../style.scss";

.rightbar{
    @include useTheme($themes)
    {
        min-width: 300px;
        position: sticky;
        left: 0;
        top: 60px;
        padding: 10px;
        padding-top: 20px;
        // background-color: themed('sideBarColor');
        overflow: scroll;
        &::-webkit-scrollbar{
            display: none;
        }

        .item{
            padding: 16px;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: themed('sideBarColor');
            border: solid 1px themed('border');

            -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
            -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
            
            span{
                font-weight: bold;
                font-size: 18px;
                color: themed('textColor');
            }
            .user{
                border-top: 1px solid themed("border");
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 10px 0px;
                padding-top: 10px;
                position: relative;
                
                .userInfo{
                    gap: 20px;
                    display: flex;
                    align-items: center;
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    span{
                        font-size: 16px;
                        font-weight: initial;
                        color: themed('textColor');
                        margin-right: 5px;
                    }
                    p{
                        font-size: 12px;
                        font-weight: initial;
                        color: themed('textSoft');
                    }

                    .online{
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: lime;
                        position: absolute;
                        top: 10px;
                        left: 30px;
                    }
                }
                span{
                    font-weight: initial;
                    color: themed('textSoft');
                    font-size: 12px;
                }
                
                .buttons{
                    gap: 10px;
                    display: flex;
                    align-items: center;
                    button{
                        border: none;
                        padding: 5px;
                        color: themed('navBarColor');
                        font-weight: bolder;
                        cursor: pointer;
                        border-radius: 5px;
                        &:first-child{
                            background-color: themed('mainColor');
                        }
                        &:last-child{
                            background-color: themed('textColor');
                        }
                    }
                }
            }
        }        
    }

}